<header class="main-header">
    <div class="container">
        <div class="logo">
            <a href="/">Tu Pr&eacute;stamo Digital</a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/simulator">Simular Pr&eacute;stamo</a></li>
                <li><a href="/#how-it-works">C&oacute;mo funciona</a></li>
                <li><a href="/#value-props">Beneficios</a></li>
                <li><a href="/register">Registrarme</a></li>
                <li><a href="/login">Mi Cuenta</a></li>
                <li><a href="/requests">Mis Solicitudes</a></li>
                <li><a href="/my-loans">Mis Pr&eacute;stamos Activos</a></li>
            </ul>
        </nav>
        <button class="menu-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
